<table class="table align-middle">
  <thead class="text-white">
    <tr>
      <th scope="col" class="col-2 fw-normal">{{ expenseCategory.name }}</th>
      <th scope="col" class="col-2 fw-normal">Account code</th>
      <th scope="col" class="col-2 fw-normal text-end">Quoted</th>
      <th scope="col" class="col-2 fw-normal text-end">Screened</th>
      <th scope="col" class="col-3 fw-normal"></th>
    </tr>
  </thead>
  <ng-container
    *ngFor="let costItem of expenseCategory.costItems"
  >
      <app-cost-item
        #wrapper
        [costItem]="costItem"
        [exchange]="exchange"
        [baseCurrency]="baseCurrency"
        (amountUpdated)="recalculateTotal($event)"
      ></app-cost-item>
      <ng-content *ngTemplateOutlet="wrapper.costItemTemplate"></ng-content>
  </ng-container>
  <tfoot>
    <tr>
      <td>Total</td>
      <td></td>
      <td class="text-end">
        <app-amount-display
          [amount]="totalQuoted"
          [exchange]="exchange"
          [baseCurrency]="baseCurrency"
        ></app-amount-display>
      </td>
      <td class="text-end">
        <app-amount-display
          [amount]="totalScreened"
          [exchange]="exchange"
          [baseCurrency]="baseCurrency"
        ></app-amount-display>
      </td>
      <td></td>
    </tr>
  </tfoot>
</table>
