<!--<tr>-->
<!--  <td>{{ costItem.name }}</td>-->
<!--  <td>{{ costItem.costItemAlias.accountingCode }}</td>-->
<!--  <td *ngFor="let cost of costItem.costs" class="text-end">-->
<!--    <div>{{ getAmountInSelectedCurrency(cost.amount) }}</div>-->
<!--    <small>-->
<!--      <div class="fw-light text-secondary">-->
<!--        {{ getAmountInBaseCurrency(cost.amount) }}-->
<!--      </div></small-->
<!--    >-->
<!--  </td>-->
<!--  <td class="text-center">-->
<!--    <i class="bi bi-chat-square me-2 text-secondary"></i-->
<!--    >{{ costItem.comments ? costItem.comments.length : 0 }}-->
<!--  </td>-->
<!--</tr>-->
<!--<tr-->
<!--  *ngIf="costItem.comments && costItem.comments.length > 0"-->
<!--  class="comment"-->
<!--&gt;-->
<!--  <td colspan="5">-->
<!--    <app-comments [comments]="costItem.comments"></app-comments>-->
<!--  </td>-->
<!--</tr>-->
